.logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-brand;
}

.logo .black {
  color: $dark;
}

/* Logo footer */

.logo .white {
  color: $light;
}
