.headline {
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;

  // media 480px

  @media screen and (min-width: 480px) {
    width: 319px;
  }

  // media 768px

  @media screen and (min-width: 768px) {
    width: 496px;
    font-size: 56px;
  }
}

.features-item .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: $dark;
  margin-bottom: 8px;

  // media 767px

  @media screen and (max-width: 767px) {
    text-align: center;
  }

  // media 1200px

  @media screen and (min-width: 1200px) {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-transform: capitalize;
  }
}

.features-item .text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: $text;

  // media 1200px

  @media screen and (min-width: 1200px) {
    font-weight: 400;
  }
}

.section-title {
  color: $dark;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

// Section Team

.team-list .title {
  margin-bottom: 8px;

  color: $dark;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-list .text {
  margin-bottom: 8px;

  color: $text;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

// Section Footer

.footer-p {
  margin-left: auto;
  margin-right: auto;
  width: 268px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: $accent;
}

.footer-right > .title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: $w-color;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.subscribe-heading {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: $w-color;
  margin-bottom: 16px;

  @media screen and (max-width: 767px) {
    text-align: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 60px;
  }
}
