/* Color Variables */
$primary-brand: #4d5ae5;
$pressed-state: #404bbf;
$dark: #2e2f42;
$success: #31d0aa;
$text: #434455;
$subtle-text: #8e8f99;
$accent: #e7e9fc;
$light: #f4f4fd;
$w-color: #ffffff;

/* Numeric variables */

$body-padding: 15px;
$section-padding: 120px;
$card-set-gap: 24px;
